    <footer class="text-center">
        <div class="container-fluid  ground">
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <div class="addressf">
                        <h3>Market Connect</h3>
                        <div>
                            <h6><span><i id="city" class="fa-solid fa-house-chimney"></i></span>Edo City Ohkoromi,Benin Nigeria
                            </h6>
                            <h6><span><i id="des" class="fa-solid fa-envelope"></i></span> info@decagon.com</h6>
                            <h6><span><i id="num" class="fa-solid fa-phone"></i></span> (+234)7144477700</h6>
                            <h6><span><i class="fa-solid fa-timer"></i></span><i id="time" class="fa-solid fa-clock"></i>Open time:
                                8:00AM - 6:00pm</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="servicet">
                        <h3 class="moveleft">Services</h3>
                        <div class="col-md-5">
                            <ul>
                                <li>Contact</li>
                                <li>Shops</li>
                                <li>Support</li>
                                <li>Services</li>
                            </ul>
        
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="accounttxt">
                        <h3>My Account</h3>
                        <div>
        
                            <ul>
                                <li>Brands</li>
                                <li>Reviews</li>
                                <li>Contact</li>
        
                            </ul>
        
        
                        </div>
                    </div>
                </div>
            </div>
<div class="copyrig">        Copyright Ⓒ Market Connect 2022 online store
</div>
        </footer>

</div>